@import "~bootstrap/scss/bootstrap";

img{
    max-width: 100%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .card{
        max-width: calc((100% / 4) - 10px);
        margin: 5px;
    }
}